<div class="ui middle aligned center aligned grid">
  <div class="six wide column">
    <h2 class="ui image header">
      <div class="content">
        Sign In
      </div>
    </h2>
    <form class="ui large form" id="login-form" data-parsley-validate>
      <div class="ui stacked segment">
        <div class="field">
          <div class="ui left icon input">
             <i class="user icon"></i>
            <input type="text" name="username" id="login-username-input" placeholder="User name" data-parsley-required="true">
          </div>
        </div>
        <div class="field">
          <div class="ui left icon input">
            <i class="lock icon"></i>
            <input type="password" name="password" id="login-password-input" placeholder="Password" data-parsley-required="true" data-parsley-length="[5,50]">
          </div>
        </div>
        <button class="ui fluid large submit button" id="login-btn">Sign In</button>
      </div>
    </form>

    <div class="ui message">
      Do not have an account yet? <a href="/#/signup">Sign Up</a>
    </div>
  </div>
</div>
