<div class="ui middle aligned center aligned grid">
  <div class="six wide column">
    <h2 class="ui image header">
      <div class="content">
        Create a new user
      </div>
    </h2>
    <form class="ui large form" id="signup-form" data-parsley-validate>
      <div class="ui stacked segment">
        <div class="field">
          <div class="ui left icon input">
            <i class="user icon"></i>
            <input type="text" name="username" id="signup-username-input" placeholder="User name" data-parsley-required="true">
          </div>
        </div>
        <div class="field">
          <div class="ui left icon input">
            <i class="pointing right icon"></i>
            <input type="text" name="name" id="signup-name-input" placeholder="Full Name" data-parsley-required="true">
          </div>
        </div>
        <div class="field">
          <div class="ui left icon input">
            <i class="mail icon"></i>
            <input type="email" name="email" id="signup-email-input" placeholder="E-mail address" data-parsley-required="true" data-parsley-type="email">
          </div>
        </div>
        <div class="field">
          <div class="ui left icon input">
            <i class="lock icon"></i>
            <input type="password" name="password" id="signup-password-input" placeholder="Password" data-parsley-required="true" data-parsley-length="[6,50]">
          </div>
        </div>
        <button class="ui fluid large submit button" id="signup-btn">Sign Up</button>
      </div>
    </form>

    <div class="ui message">
      Already have an account? <a href="/#/signin">Sign In</a>
    </div>
  </div>
</div>
