<div class="ui middle aligned center aligned grid">
  <div class="six wide column">
    <h2 class="ui image header">
      <div class="content">
        Create a new user
      </div>
    </h2>
    <form class="ui large form">
      <div class="ui stacked segment">
        <div class="field">
          <div class="ui left icon input">
            <i class="user icon"></i>
            <input type="text" name="username" placeholder="User name">
          </div>
        </div>
        <div class="field">
          <div class="ui left icon input">
            <i class="pointing right icon"></i>
            <input type="text" name="name" placeholder="Full Name">
          </div>
        </div>
        <div class="field">
          <div class="ui left icon input">
            <i class="mail icon"></i>
            <input type="text" name="email" placeholder="E-mail address">
          </div>
        </div>
        <div class="field">
          <div class="ui left icon input">
            <i class="lock icon"></i>
            <input type="password" name="password" placeholder="Password">
          </div>
        </div>
        <div class="ui fluid large submit button">Sign Up</div>
      </div>

      <div class="ui error message"></div>

    </form>

    <div class="ui message">
      Already have an account? <a href="/#/signin">Sign In</a>
    </div>
  </div>
</div>
