<h1 class="ui top attached header"><%= testsuite.get('name') %></h1>
<div class="ui attached segment">
	<form class='ui form' id="testsuite-form" data-parsley-validate>
		  <div class="field">
			<label>Name</label>
			<input name="name" id="testsuite-name-input" placeholder="Name" type="text" value="<%= testsuite.get('name') %>" />
		  </div>
		  <div class="field">
			<label>Description</label>
            <textarea name="description" placeholder="Description" id="testsuite-description-input" data-parsley-required="false" data-parsley-length="[1,1000]"><%= testsuite.get('description') %></textarea>
		  </div>
		  <button class="positive ui left floated button" id="testsuite-btn">
			  Okay
		  </button>
		  <a href="javascript: window.history.back();" class="ui left floated button">
			  Cancel
		  </a>
		  <a href="#/projects/<%= projectId %>/testsuites/<%= testsuite.get('id') %>/confirmDelete" class="negative ui right floated button">
			  Delete
		  </a>
		  <br class='clearfix' />
		  <br/>	
	</form>
</div>
