<div class="ui attached segment">
	<h4><%= testsuite.get('name') %></h4>

	<%= testsuite.get('description') %>

	<div class="item">
		<i class="angle double right icon"></i>
		<a href="#/projects/<%= projectId %>/testcases/<%= testsuite.get('id') %>/testcases/new">Add new Test Case</a>
		<div class="ui divider"></div>
		<div class="right floated content">
			<a href="#/projects/<%= projectId %>" class="ui button">Edit</a>
			<a href="#/projects/<%= projectId %>/confirmDelete" class="ui button">Delete</a>
		</div>
	</div>
</div>
