@import '/js/libs/lato/css/lato.css';

$bottom-margin: 20px;

#page {
    margin-bottom: $bottom-margin;
}

.fancytree-treefocus span.fancytree-active span.fancytree-title {
  color: black !important;
  background-color: #3875D7;
}

.fancytree-active .fancytree-title {
  background-color: #EEEEEE !important;
}
