<h1 class="ui top attached header">Projects</h1>
<div class="ui attached segment">
	<p>
		Projects contain test suites, test cases, and settings. You can add custom fields and integrate it with the tools available in Nestor-QA.
	</p>
	<div class="item">
		<i class="angle double right icon"></i>
		<a href="#/projects/new">Add new Project</a>
	</div>
	<div class="ui middle aligned divided list" id='projects-list'></div>
    <div class="ui pagination menu">
        <a class="item"><i class="chevron left icon"></i> Left</a>
        <a class="active item">1</a>
        <a class="active item">2</a>
        <div class="disabled item">...</div>
        <a class="item">11</a>
        <a class="item">12</a>
        <a class="item">Next &nbsp;<i class="chevron right icon"></i></a>
    </div>
</div>