<% _.each(projects, function(project){ %>
<div class='item'>
	<div class="right floated content">
		<a href="<%= project.get('url') %>" class="ui button">View</a>
    <a href="#/projects/<%= project.get('id') %>" class="ui button">Edit</a>
    <a href="#/projects/<%= project.get('id') %>/confirmDelete" class="ui button">Delete</a>
  </div>
	<div class="content">
		<a class='header' href='<%= project.get("url") %>'><%= project.get("name") %></a>
		<div class='description'>
			<%= project.get('description') %>
		</div>
	</div>
</div>
<% }); %>
