<div class='ui stackable grid'>
	<div class='four wide column'>
		<div class="ui list" id="project_tree">
			<div class="item">
				<i class="folder icon"></i>
				<div class="content">
					<div class="header"><%= project.get('name') %></div>
					<div class="list">
						<div class="item">
							<i class="angle double right icon"></i>
							<div class="content">
								<div class="header"><a href="#/testsuites/add">Add new Test Suite</a></div>
							</div>
						</div>
						<div class="item">
							<i class="folder icon"></i>
							<div class="content">
								<div class="header"><a href="#/testsuites/1">Test Suite 001</a></div>
							</div>
						</div>
						<div class="item">
							<i class="folder icon"></i>
							<div class="content">
								<div class="header"><a href="#/testsuites/2">Test Suite 002</a></div>
								<div class="list">
									<div class="item">
										<i class="file icon"></i>
										<div class="content">
											<div class="header"><a href="#/testcases/1">Test Case 001</a></div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="item">
							<i class="folder icon"></i>
							<div class="content">
								<div class="header"><a href="#/testsuites/3">And the last test suite</a></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class='twelve wide column'>
		<div class="ui attached segment">
			<h4><%= project.get('name') %></h4>

			<%= project.get('description') %>
		</div>
	</div>
</div>
