<h1 class="ui top attached header">Reporting</h1>
<div class="ui attached segment">
  <p>
    Choose one of the following report types.
  </p>
  <div class="ui middle aligned divided list" id='reporting-list'>
    <div class='ui middle aligned item'>
      <div class="right floated content">
        <div class='ui stackable menu'>
          <a href="#/reporting/simpleprojectreport" class="item">View Report</a>
        </div>
      </div>
      <div class="left floated content">
        <div class='ui vertical segment'>
          Simple Project Report
        </div>
      </div>
    </div>
    <div class='ui middle aligned item'>
      <div class="right floated content">
        <div class='ui stackable menu'>
          <a href="#/reporting/simpletestplanreport" class="item">View Report</a>
        </div>
      </div>
      <div class="left floated content">
        <div class='ui vertical segment'>
          Simple Test Plan Report
        </div>
      </div>
    </div>
  </div>
</div>