<h1 class="ui top attached header">Simple Test Plan Report</h1>
<div class="ui attached segment">
  <p>
    Test Plan <%= test_plan_id %>
  </p>
  <div class="ui middle aligned divided list" id='simple-project-report'>
  <% _.each(report.test_cases, function(test_case){ %>
    <div class='ui middle aligned item'>
      <div class="right floated content">
        <% if (test_case['latest_execution']['execution_status_id'] == 2) { %>
        <a class="ui green label">PASSED</a>
        <% } else if (test_case['latest_execution']['execution_status_id'] == 3) { %>
        <a class="ui red label">FAILED</a>
        <% } else if (test_case['latest_execution']['execution_status_id'] == 4) { %>
        <a class="ui yellow label">BLOCKED</a>
        <% } %>
      </div>
      <div class="left floated content">
        <div class='ui vertical segment'>
          <%= test_case['name'] %>
        </div>
      </div>
    </div>
  <% }); %>
  </div>
</div>