<h1 class="ui top attached header"><%= testcase.get('version')['name'] %></h1>
<div class="ui attached segment">
    <h2 class='ui header'>Confirm delete test case <%= testcase.get('version')['name'] %>?</h2>
    <form class='ui form'>
          <button class="positive ui left floated button" id="remove-testsuite-btn">
              Okay
          </button>
          <a href="javascript: window.history.back();" class="ui left floated button">
              Cancel
          </a>
          <br class='clearfix' />
          <br/> 
    </form>
</div>
