<h1 class="ui top attached header"><%= testcase.get('version')['name'] %></h1>
<div class="ui attached segment items">
  <div class='ui segment'>
    <h3 class='ui header'>View execution history <a href=""><i class="angle double down icon"></i></a></h3>
    <table class="ui celled table">
      <thead>
        <tr>
          <th>Execution status</th>
          <th>Notes</th>
          <th>Date</th>
        </tr>
      </thead>
    </table>
  </div>

  <h5>Description</h5>

  <%= testcase.get('formatted_description') %>

  <h5>Prerequisites</h5>

  <%= testcase.get('formatted_prerequisite') %>

  <h5>Execution Type</h5>

  <%= testcase.get('version')['execution_type']['name'] %>

  <div class='ui form' id="execute-testcase-form" data-parsley-validate>
    <h3 class='ui header'>Execution Status</h3>
    <div class="field">
      <label>Name</label>
      <input name="name" id="testcase-name-input" placeholder="Name" type="text" value="" data-parsley-required="true" data-parsley-length="[1,255]">
      </div>
      <div class="field">
      <label>Description</label>
            <textarea name="description" placeholder="Description" id="testcase-description-input" data-parsley-required="false" data-parsley-length="[1,1000]"></textarea>
      </div>
          <div class="field">
            <label>Prerequisite</label>
            <textarea name="prerequisite" placeholder="Prerequisite" id="testcase-prerequisite-input" data-parsley-required="false" data-parsley-length="[1,1000]"></textarea>
          </div>
          <div class="field">
            <label>Execution type</label>
            <select name='executiontype_id' id='testcase-executiontype_id-input' data-parsley-required="true" data-parsley-min="1">
            <% _.each(execution_statuses, function(execution_status) { %>
                <option value='<%= execution_status.id %>'><%= execution_status.get('name') %></option>
            <% }); %>
            </select>
          </div>
      <button class="positive ui left floated button" id="new-testcase-btn">
        Okay
      </button>
      <a href="javascript: window.history.back();" class="ui left floated button">
        Cancel
      </a>
      <br class='clearfix' />
      <br/> 
  </div>

</div>