<h1 class="ui top attached header"><%= testcase.get('version')['name'] %></h1>
<div class="ui attached segment items">
  <div class='ui segment'>
    <h3 class='ui header'>View execution history <a id='execution-history-btn'><i class="angle double down icon"></i></a></h3>
    <div class='ui' id='execution-history-panel' style="display: none;">
      <table class="ui celled table">
        <thead>
          <tr>
            <th>Execution status</th>
            <th>Notes</th>
            <th>Date</th>
          </tr>
        </thead>
        <tbody>
        <% _.each(testcase.get('version')['executions'], function(execution){ %>
          <tr>
            <td><%= execution.execution_status.name %></td>
            <td><%= execution.notes %></td>
            <td><%= execution.updated_at %></td>
          </tr>
        <% }); %>
        </tbody>
      </table>
    </div>
  </div>

  <h5>Version</h5>

  <%= testcase.get('version')['version'] %>

  <h5>Description</h5>

  <%= testcase.get('formatted_description') %>

  <h5>Prerequisites</h5>

  <%= testcase.get('formatted_prerequisite') %>

  <h5>Execution Type</h5>

  <%= testcase.get('version')['execution_type']['name'] %>

  <div class='ui hidden divider'></div>

  <div class='ui segment'>
    <div class='ui form' id="execute-testcase-form" data-parsley-validate>
      <h3 class='ui header'>Update test execution</h3>
      <div class="field">
        <label>Notes</label>
        <textarea name="notes" placeholder="Notes" id="testcase-notes-input" data-parsley-required="false" data-parsley-length="[1,1000]"></textarea>
      </div>
      <div class="field">
        <div class="grouped fields">
          <label>Execution status</label>
          <% _.each(execution_statuses, function(execution_status) { %>
          <div class="field">
            <div class="ui radio checkbox">
              <input 
                name="testcase-executionstatus_id-input" 
                id='<%= execution_status.id %>' 
                value='<%= execution_status.id %>' 
                data-parsley-validexecutionstatusesid=""
                type="radio" 
                <% if ('last_execution' in testcase.get('version') && execution_status.id == testcase.get('version')['last_execution']['execution_status_id']) { %>
                checked="checked" 
                <% } else if (execution_status.id == 1) { %>
                checked="checked" 
                <% } %>
                data-parsley-required="true" 
                data-parsley-min="1">
              <label for='<%= execution_status.id %>'><%= execution_status.get('name') %></label>
            </div>
          </div>
          <% }); %>
        </div>
        <button class="positive ui left floated button" id="execute-testcase-btn">
          Save
        </button>
        <br class='clearfix' />
        <br/> 
      </div>
    </div>
  </div>