<h1 class="ui top attached header"><%= testcase.get('version')['name'] %></h1>
<div class="ui attached segment">
    <div class='ui form' id="testcase-form" data-parsley-validate>
          <div class="field">
            <label>Name</label>
            <input name="name" id="testcase-name-input" placeholder="Name" type="text" value="<%= testcase.get('version')['name'] %>" />
          </div>
          <div class="field">
            <label>Description</label>
            <textarea name="description" placeholder="Description" id="testcase-description-input" data-parsley-required="false" data-parsley-length="[1,1000]"></textarea>
          </div>
          <div class="field">
            <label>Prerequisites</label>
            <textarea name="prerequisite" placeholder="Prerequisites" id="testcase-prerequisite-input" data-parsley-required="false" data-parsley-length="[1,1000]"></textarea>
          </div>
          <div class="field">
            <label>Execution type</label>
            <select name='executiontype_id' id='testcase-executiontype_id-input' data-parsley-required="true" data-parsley-min="1">
            <% _.each(execution_types, function(execution_type) { %>
                <% if (testcase.get('version')['execution_type_id'] == execution_type.get('id')) { %>
                <option value='<%= execution_type.id %>' selected='selected'><%= execution_type.get('name') %></option>
                <% } else { %>
                <option value='<%= execution_type.id %>'><%= execution_type.get('name') %></option>
                <% } %>
            <% }); %>
            </select>
          </div>
          <button class="positive ui left floated button" id="testcase-btn">
              Okay
          </button>
          <a href="javascript: window.history.back();" class="ui left floated button">
              Cancel
          </a>
          <a href="#/projects/<%= projectId %>/testsuites/<%= testcase.get('test_suite_id') %>/testcases/<%= testcase.get('id') %>/confirmDelete" class="negative ui right floated button">
              Delete
          </a>
          <br class='clearfix' />
          <br/> 
    </div>
</div>
