<div id="menu">
  <div class='ui stackable pointing menu'>
    <div class='item'>
      <a href="#"><i class="home icon"></i> Home</a>
    </div>
    <% if(logged_in){ %>
    <div class='item'>
      <a href="#/projects"><i class="book icon"></i> Projects</a>
    </div>
      <% if (typeof project_id != 'undefined' && project_id > 0) { %>
    <div class='item'>
      <a href="#/specification"><i class="write icon"></i> Specification</a>
    </div>
    <div class='item'>
      <a href="#/planning"><i class="browser icon"></i> Planning</a>
    </div>
    <div class='item'>
      <a href="#/execution"><i class="terminal icon"></i> Execution</a>
    </div>
    <div class='item'>
      <a href="#/reporting"><i class="bar chart icon"></i> Reporting</a>
    </div>
    <div class='item'>
      <a href="#/dashboards"><i class="dashboard icon"></i> Dashboards</a>
    </div>
      <% } %>
    <% } %>
    <div class="right menu">
      <% if(logged_in){ %>
      <div class="ui simple dropdown item">
        <input name="project_id" type="hidden">
        <div class="default text">Choose a Project</div>
        <div class="menu">
          <div class="header">
            <i class="tags icon"></i>
            Filter by name
          </div>
          <div class="ui icon search input">
            <i class="search icon"></i>
            <input placeholder="Search projects..." type="text">
          </div>
          <div class="divider"></div>
          <div class="item" data-value="1">Male</div>
          <div class="item" data-value="0">Female</div>
        </div>
      </div>
      <div class='ui simple dropdown item'>
        <a href="#/profile"><i class="user icon"></i> <%= user['name'] %></a>
        <!--<i class="dropdown icon"></i>-->
        <div class="menu">
          <a class="item" id="logout-link" href="#/signout">Sign Out</a>
        </div>
      </div>
      <% } else { %>
      <a class='item' href="#/signup">Sign Up</a>
      <a class='item' href="#/signin">Sign In</a>
      <% } %>
    </div>
  </div>
</div>
